/* REGOLE RESET */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #255ee9;
}

.nav {
    min-height: 100px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.nav-box {
    background-color: #255ee9;
    min-height: 50px;
}

.logo {
    width: 25%;
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    min-height: 50px;
}

.link {
    width: 50%;
    text-align: center;
    min-height: 50px;
}

 .first-list, a {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-weight: 200;
    padding: 10px;
}

.login {
    width: 25%;
    text-align: right;
}

.button {
    border-radius: 20px;
    padding: 10px;
    font-weight: 200;
    border-color: transparent;
    text-decoration: none;
}

.header-main {
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
}

.content {
    width: 50%;
    margin: 0 auto;
    height: 80%;
    text-align: center;
    color: white;
}

#h1 {
    font-size: 50px;
    font-weight: bold;
}

.black-button {
    background-color: black;
    color: white;
}

.white-button {
    background-color: white;
    color: black;
}

.container-flex {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.img1 {
    background-image: url(img/item1.svg);
}

h2 {
    font-size: 35px;
}

.content-img {
    min-height: 80%;
    min-width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.content-text {
    min-height: 80%;
    width: 20%;
}

.img2 {
    background-image: url(img/item2.svg);
}

.img3 {
    background-image: url(img/item3.svg);
}

.gray {
      background-color: lightgray;
      min-height: 1000px;
}

.content5 {
    min-height: 500px;
    width: 70%;
    text-align: center;
}

.blue-button {
    background-color: #8ea1e1;
}

.section1 {
    background-color: black;
    min-height: 600px;
}

.container-footer {
    width: 80%;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-column {
    height: 300px;
    width: 30%;
}

h4 {
    font-size: 25px;
}
.special-color {
    color: #8ea1e1;
}

.ita-flag {
    display: inline-block;
    background-size: 30px;
    background-image: url(img/ita.png);
    min-height: 50px;
    min-width: 50px;
    background-repeat: no-repeat;
    vertical-align: top;
}

.text {
    color: white;
    display: inline-block;
}

#menu {
    min-width: 100px;
    color: white;
    background-color: black;
    border-color: transparent;
    font-weight: 300;
    font-size: 20px;
}

.big-column {
    height: 300px;
    border-style: dashed;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section {
    width: 25%;
    min-height: 300px;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    font-weight: bold;
    color: white;
}

.special-element {
    color: #8ea1e1;
}


.section2 {
    background-color: black;
    display: flex;
    height: 150px;
    margin-top: 2px;
    align-items: center;
}

.info-footer {
    background-image: url(img/logo.svg);
    min-width: 200px;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    min-height: 100px;
    margin: 0 auto;
    align-items: center;
}
